table {
   margin-bottom: 15px;
   margin-top: 15px;
   border-collapse: collapse;
   width: 100% !important;
}
table, th, td {
  border: 1px solid black;
}
tr {
   padding: 5px; 
}
td {
   padding: 3px; 
}